@font-face {
  font-family: 'Roboto','Helvetica Neue';
  font-style: normal;
  font-weight: 100, 300, 400, 500, 900;
  src: url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,900&display=swap");
}


* {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: black;
}

html {
  background-color: whitesmoke;
  /** background-image: url(./img/spacebackground3.jpg); **/
  background-size: cover;
  /** background-repeat: repeat; **/
  background-blend-mode: soft-light;
  /** box-shadow: inset 0px 0px 100px 100px rgba(29, 0, 0, 0.1);**/
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  padding: 0;
}

.App-header {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
}

.App-header p {
  font-size: calc(10px + 1vmin);
}

/* MOBILE */

.click-zone-mobile {
  position: static;
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  /* z-index: 2; */
  /* border: 1px solid grey; */
}
.click-zone-mobile:hover {
  cursor: pointer;
  /* z-index: 2; */
  /* border: 1px solid grey; */
}

.roomFont {
  
  color: #00ffbf90;
  font-weight: 800;
  font-size: 1.1rem;
  text-transform: uppercase;
  background-color: black;
}

.roomFont:hover {
  background-color: white;
  color: red;
}

/* DESKTOP */

.roomName {
  font-family: "Roboto", monospace;
  font-size: 1rem;
  position: relative;
  top: 67px;
  justify-self: center;
  text-align: center;
  color: whitesmoke;
  
  /* font-size: 12px; */
  /* display: block; */
  
  /* margin-top: -20px; */
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2);
  transition: 0.1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.roomName:hover {
  background-color: black;
}

.active {
  color: red;
}

/* .map-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 640px;
    height: 300px;
    background: #ffffff46;
    border: 3px groove yellow;
} */


/* .map-container:hover > * {
  opacity: 1;
} */


.container {
  position: relative;
}

.video {
  position: absolute;
  left: 0;
  top: 0;
  width: 640px;
  height: 480px;
  background: beige;
  border: 3px groove yellow;
}

.m-grid-container {
  position: fixed;
  left: 32vw;
  top: 18vh;
}

.click-zone {
  transition: 0.01s cubic-bezier(0.2, 0.8, 0.2, 1);
  /* z-index: 2; */
  /* border: 1px solid grey; */
}
.click-zone:hover {
  text-shadow: 10px 10px 10px black;
  cursor: pointer;
  
  /* transform: scale(2); */
  
  /* z-index: 2; */
  /* border: 1px solid grey; */
}

#c0 {
  background-image: url(./img/noncon-portals/speakerschedule.png);
  background-size: contain;
}

#c0:hover {
  background-image: url(./img/noncon-portals/speakerschedule-hover.png);
  background-size: contain;
}

#c1 {
  background-image: url(./img/noncon-portals/metatrack.png);
  background-size: contain;
}

#c1:hover {  background-image: url(./img/noncon-portals/metatrack-hover.png);
  background-size: contain;
}

#c2 {
  background-image: url(./img/noncon-portals/cryptowiener.png);
  background-size: contain;
}

#c2:hover {
  background-image: url(./img/noncon-portals/cryptowiener-hover.png);
  background-size: contain;
}
  

#c3 {
  background: url(./img/noncon-portals/loftradio.png);
  background-size: contain;
}

#c3:hover {
  background: url(./img/noncon-portals/loftradio-hover.png);
  background-size: contain;
}

#c4 {
  background: url(./img/noncon-portals/claimpopetoken.png);
  background-size: contain;
}

#c4:hover {
  background: url(./img/noncon-portals/claimpopetoken-hover.png);
  background-size: contain;
}

#c5 {
  background: url(./img/noncon-portals/cryptoeconomicslab.png);
  background-size: contain;
}

#c5:hover {
  background: url(./img/noncon-portals/cryptoeconomicslab-hover.png);
  background-size: contain;
}

#c6 {
  background: url(./img/noncon-portals/parallelsociety.png);
  background-size: contain;
}

#c6:hover{
  background: url(./img/noncon-portals/parallelsociety-hover.png);
  background-size: contain;
}

#c7 {
  background: url(./img/noncon-portals/raffle.png);
  background-size: contain;
}

#c7:hover{ 
  background: url(./img/noncon-portals/raffle-hover.png);
  background-size: contain;
}

#c8 {
  background: url(./img/noncon-portals/createroom.png);
  background-size: contain;
}

#c8:hover{
  background: url(./img/noncon-portals/createroom-hover.png);
  background-size: contain;
}

#c9 {
  background: url(./img/noncon-portals/donate.png);
  background-size: contain;
}

#c9:hover{
  background: url(./img/noncon-portals/donate-hover.png);
  background-size: contain;
}

#c10 {
  background: url(./img/noncon-portals/discordchat.png);
  background-size: contain;
}

#c10:hover {
  background: url(./img/noncon-portals/discordchat-hover.png);
  background-size: contain;
}

#c11 {
  background: url(./img/noncon-portals/livestreams.png);
  background-size: contain;
}

#c11:hover {
  background: url(./img/noncon-portals/livestreams-hover.png);
  background-size: contain;
}

#c12 {
  background: url(./img/noncon-portals/about.png);
  background-size: contain;
}

#c12:hover {
  background: url(./img/noncon-portals/about-hover.png);
  background-size: contain;
}

.click-zone:hover .click-zone-highlight {
  border: solid 0.5px #00ffbf90;
  box-shadow: 0px 0px 10px #00ffbf;
  color: #00ffbf;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.247);
  
}

.click-zone:hover .roomName {
  background-color: #00000000;
  /*box-shadow: 0px 0px 10px #00ffbf;*/
  color: #00ffbf00;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.0);
}

.scale {
  transform: scale(5);
}